.carousel-container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    
  }
  
  .carousel-slide {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  .imagecard1{
    height: 250px;
    background-color: white;
    
  }
  .imagecard2{
    height: 250px;
    background-color:white;
    
  }
  .imagecard3{
    height: 250px;
    background-color:white;
    
  }
  .imagecard4{
    height: 250px;
    background-color: white;
    
  }
  