.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.4);
    
  }
  
  .h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  .span{  
        margin-bottom: 20px;
        font-size: 14px;
        color: #333;
        cursor: pointer;
        margin-left: 40%;
      
  }
  
  
  .admission-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #007bff;
  }
  
  textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .submit-button {
    padding: 10px 15px;
    font-size: 16px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 102%;
    margin-left: 5px;
  }
  
  .submit-button:hover {
    background-color: #218838;
  }
  
  .submit-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .success-message {
    background-color: #28a745;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .error-message {
    background-color: #dc3545;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
  }
  .text{
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 10px;
  }